<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
	<typeAliases>
		<typeAlias type="com.itwillbs.with_me.vo.MemberVO" alias="member"/>
		<typeAlias type="com.itwillbs.with_me.vo.ProjectVO" alias="project"/>
		<typeAlias type="com.itwillbs.with_me.vo.ProjectCancelVO" alias="projectCancel"/>
		<typeAlias type="com.itwillbs.with_me.vo.CommonCodeVO" alias="commonCode"/>
		<typeAlias type="com.itwillbs.with_me.vo.MailAuthInfo" alias="mailAuth"/>
		<typeAlias type="com.itwillbs.with_me.vo.RewardVO" alias="reward"/>
		<typeAlias type="com.itwillbs.with_me.vo.ItemVO" alias="item"/>
		<typeAlias type="com.itwillbs.with_me.vo.StoreVO" alias="store"/>
		<typeAlias type="com.itwillbs.with_me.vo.AddressVO" alias="address"/>
	</typeAliases>
 </configuration>