<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
	<typeAliases>
		<typeAlias type="com.itwillbs.with_me.vo.MemberVO" alias="member"/>
		<typeAlias type="com.itwillbs.with_me.vo.ProjectVO" alias="project"/>
		<typeAlias type="com.itwillbs.with_me.vo.ProjectCancelVO" alias="projectCancel"/>
		<typeAlias type="com.itwillbs.with_me.vo.CommonCodeVO" alias="commonCode"/>
		<typeAlias type="com.itwillbs.with_me.vo.MailAuthInfo" alias="mailAuth"/>
		<typeAlias type="com.itwillbs.with_me.vo.RewardVO" alias="reward"/>
		<typeAlias type="com.itwillbs.with_me.vo.ItemVO" alias="item"/>
		<typeAlias type="com.itwillbs.with_me.vo.LikeVO" alias="like"/>
		<typeAlias type="com.itwillbs.with_me.vo.StoreVO" alias="store"/>
		<typeAlias type="com.itwillbs.with_me.vo.AddressVO" alias="address"/>
		<typeAlias type="com.itwillbs.with_me.vo.BoardVO" alias="bo"/>
		<typeAlias type="com.itwillbs.with_me.vo.BoardVO" alias="qnabo"/>
  		<typeAlias type="com.itwillbs.with_me.vo.FundingVO" alias="funding"/>
		<typeAlias type="com.itwillbs.with_me.vo.CreatorVO" alias="creator"/>
		<typeAlias type="com.itwillbs.with_me.vo.FollowVO" alias="follow"/>
		<typeAlias type="com.itwillbs.with_me.vo.ChatRoom" alias="chatRoom"/>
  		<typeAlias type="com.itwillbs.with_me.vo.ChatMessage2" alias="chatMessage"/>
  		<typeAlias type="com.itwillbs.with_me.vo.SmsAuthInfo" alias="smsAuth"/>
  		<typeAlias type="com.itwillbs.with_me.vo.BankToken" alias="bankToken"/>
  		<typeAlias type="com.itwillbs.with_me.vo.StoreVO" alias="StoreVO"/>
  		<typeAlias type="com.itwillbs.with_me.vo.CreatorAccountVO" alias="creatorAccount"/>
  		<typeAlias type="com.itwillbs.with_me.vo.ReportVO" alias="report"/>
  		<typeAlias type="com.itwillbs.with_me.vo.Store_userVO" alias="storeUser"/>
  		<typeAlias type="com.itwillbs.with_me.vo.PwSmsAuthInfoVO" alias="pwSmsAuth"/>
  		<typeAlias type="com.itwillbs.with_me.vo.PremiumPaymentVO" alias="premiumPayment"/>
	</typeAliases>
 </configuration>