<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.with_me.mapper.AdminAccountMapper">
<!-- 프로젝트 개수 조회 - SELECT -->
<select id="selectAccountListCount" resultType="int">
	SELECT COUNT(*)
	FROM project_info p JOIN creator_info c
	ON p.creator_idx = c.creator_idx
	LEFT JOIN creator_account a 
	ON p.project_idx = a.project_idx
	JOIN member m
	ON m.mem_email = c.creator_email
	WHERE p.project_status = '승인'
	AND p.funding_start_date <![CDATA[<=]]> now()
	<choose>
		<when test="accountStatus == '출금대기'">
            AND DATEDIFF(p.funding_end_date + INTERVAL 8 DAY, NOW()) <![CDATA[>=]]> 0
        </when>
        <when test="accountStatus == '입금대기'">
            AND a.status = '입금대기'
        </when>
        <when test="accountStatus == '입금완료'">
            AND a.status = '입금완료'
        </when>
	</choose>
	<if test="!searchKeyword.equals('')">
		AND (
			p.project_code like concat('%',#{searchKeyword},'%')
			OR p.project_title like concat('%',#{searchKeyword},'%')
			OR p.funding_end_date like concat('%',#{searchKeyword},'%')
			OR c.creator_name like concat('%',#{searchKeyword},'%')
			OR m.mem_name like concat('%',#{searchKeyword},'%')
			OR c.creator_email like concat('%',#{searchKeyword},'%')
			OR a.fintech_use_num like concat('%',#{searchKeyword},'%')
		)
	</if>
</select>

<!-- 프로젝트 목록 조회 - SELECT -->
<select id="selectAccountList" resultType="hashmap">
	SELECT p.project_idx, p.project_code, p.project_title, 
	       CASE
	           WHEN p.funding_end_date > NOW() THEN '진행중'
	           WHEN DATE(p.funding_end_date) = DATE(NOW()) THEN '오늘 종료'
	           ELSE '종료'
	       END AS project_status,
	       p.funding_end_date, 
	       DATEDIFF(p.funding_end_date + INTERVAL 8 DAY, NOW()) AS user_payment_date, 
	       DATEDIFF(p.funding_end_date + INTERVAL 16 DAY, NOW()) AS settlement_date,
	       c.creator_name, c.creator_email, a.fintech_use_num,
	       (SELECT IFNULL(SUM(funding_pay_amt),0) FROM funding_user WHERE funding_project_idx = p.project_idx) AS funding_account
	FROM project_info p JOIN creator_info c
	ON p.creator_idx = c.creator_idx
	LEFT JOIN creator_account a 
	ON p.project_idx = a.project_idx
	JOIN member m
	ON m.mem_email = c.creator_email
	WHERE p.project_status = '승인'
	AND p.funding_start_date <![CDATA[<=]]> now()
	<choose>
		<when test="accountStatus == '출금대기'">
            AND DATEDIFF(p.funding_end_date + INTERVAL 8 DAY, NOW()) <![CDATA[>=]]> 0
        </when>
        <when test="accountStatus == '입금대기'">
            AND a.status = '입금대기'
        </when>
        <when test="accountStatus == '입금완료'">
            AND a.status = '입금완료'
        </when>
	</choose>
	<if test="!searchKeyword.equals('')">
		AND (
			p.project_code like concat('%',#{searchKeyword},'%')
			OR p.project_title like concat('%',#{searchKeyword},'%')
			OR p.funding_end_date like concat('%',#{searchKeyword},'%')
			OR c.creator_name like concat('%',#{searchKeyword},'%')
			OR m.mem_name like concat('%',#{searchKeyword},'%')
			OR c.creator_email like concat('%',#{searchKeyword},'%')
			OR a.fintech_use_num like concat('%',#{searchKeyword},'%')
		)
	</if>
	ORDER BY
		p.project_idx DESC
	LIMIT
		#{startRow}
		, #{listLimit}
</select>

<!-- 해당 프로젝트에 후원하는 후원자 수 조회 - SELECT -->
<select id="selectUserAccountListCount" resultType="int">
	SELECT COUNT(*)
	FROM funding_user u 
	JOIN member m ON u.funding_mem_email = m.mem_email
	JOIN project_info p ON p.project_idx = u.funding_project_idx
	LEFT JOIN project_payment pay ON u.funding_idx = pay.pro_funding_idx
	LEFT JOIN user_account a ON m.mem_email = a.mem_email
	WHERE p.project_code = #{project_code}
	AND u.funding_status != '후원취소'
	<if test="!searchKeyword.equals('')">
		AND (
			u.funding_idx like concat('%',#{searchKeyword},'%')
			OR m.mem_name like concat('%',#{searchKeyword},'%')
			OR m.mem_email like concat('%',#{searchKeyword},'%')
		)
	</if>
</select>

<!-- 해당 프로젝트에 후원하는 후원자 목록 조회 - SELECT -->
<select id="selectUserAccountList" resultType="hashmap">
	SELECT u.funding_idx, m.mem_email, m.mem_name,
	       CONCAT(
	           DATE_FORMAT(p.funding_end_date + INTERVAL 1 DAY, '%Y-%m-%d'), 
	           ' ~ ', 
	           DATE_FORMAT(p.funding_end_date + INTERVAL 8 DAY, '%Y-%m-%d')
	       ) AS user_payment_date,
	       u.funding_pay_amt, pay.pro_pay_status, a.fintech_use_num, pay.pro_funding_pay_method_idx
	FROM funding_user u 
	JOIN member m ON u.funding_mem_email = m.mem_email
	JOIN project_info p ON p.project_idx = u.funding_project_idx
	LEFT JOIN project_payment pay ON u.funding_idx = pay.pro_funding_idx
	LEFT JOIN user_account a ON m.mem_email = a.mem_email
	WHERE p.project_code = #{project_code}
	AND u.funding_status != '후원취소'
	<if test="!searchKeyword.equals('')">
		AND (
			u.funding_idx like concat('%',#{searchKeyword},'%')
			OR m.mem_name like concat('%',#{searchKeyword},'%')
			OR m.mem_email like concat('%',#{searchKeyword},'%')
		)
	</if>
	ORDER BY
		p.project_idx DESC
	LIMIT
		#{startRow}
		, #{listLimit}
</select>

	
</mapper>