<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.with_me.mapper.HomeMapper">
	<!-- 프로젝트 리스트 -->
	<select id="selectProjectList" resultType="hashmap">
		SELECT * , (SELECT IFNULL(SUM(funding_pay_amt),0) FROM 
					funding_user WHERE funding_project_idx = project_idx) AS funding_amt,
					(SELECT COUNT(funding_idx) 
					FROM funding_user 
					WHERE funding_project_idx = p.project_idx) / DATEDIFF(CURDATE(), p.funding_start_date) AS people_per_day_ratio
		<if test="sId">
			,l.like_mem_email, l.like_status
		</if>
		FROM project_info p
		<if test="sId">
			LEFT JOIN like_ l
			ON p.project_code = l.like_project_code AND l.like_mem_email = #{sId}
		</if>
		<![CDATA[
			WHERE p.funding_start_date < now() && p.funding_end_date > now() && p.project_status = '승인'
		]]>
		ORDER BY p.funding_premium DESC, people_per_day_ratio DESC 
	</select>
	
	<!-- 스토어 리스트 -->
	<select id="selectStoreList" resultType="hashmap">
		SELECT * 
		<if test="sId">
			,l.like_mem_email, l.like_status
		</if>
		FROM product_info p
		<if test="sId">
			LEFT JOIN like_ l
			ON p.product_code = l.like_product_code AND l.like_mem_email = #{sId}
		</if> 
	</select>
	
	<!-- 프로젝트 인기순위 -->
	<select id="selectPopularProList" resultType="hashmap">
		SELECT * , 
			(SELECT IFNULL(SUM(funding_pay_amt),0) FROM 
				funding_user WHERE funding_project_idx = project_idx) AS funding_amt,
			(SELECT COUNT(funding_idx) 
			FROM funding_user 
			WHERE funding_project_idx = p.project_idx) / DATEDIFF(CURDATE(), p.funding_start_date) AS people_per_day_ratio,
			(SELECT creator_name
			FROM creator_info
			WHERE creator_idx = p.creator_idx) AS creator_name,
			(SELECT creator_email
			FROM creator_info
			WHERE creator_idx = p.creator_idx) AS creator_email
		FROM project_info p
		<![CDATA[ WHERE p.funding_start_date < now() && p.funding_end_date > now() && p.project_status = '승인' ]]>
		ORDER BY people_per_day_ratio DESC;
	</select>

	<!-- 스토어 인기순위 -->
	<select id="selectPopularProductList" resultType="hashmap">
		SELECT * ,
			(SELECT COUNT(d.product_idx) 
			FROM product_payment d
			WHERE d.product_idx = p.product_idx) / DATEDIFF(CURDATE(), p.product_created) AS ratio
		FROM product_info p
		ORDER BY ratio DESC;
	</select>
</mapper>