<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.with_me.mapper.MemberMapper">

	<!-- 회원가입 회원정보 -->
	<insert id="insertMember">
		INSERT
		INTO member
		VALUES (
			null
			,#{mem_email}
			,#{mem_name}
			,#{mem_passwd}
			,#{mem_post_code}
			,#{mem_add1}
			,#{mem_add2}
			,#{mem_tel}
			, 1                   -- sns수신
			,#{mem_birthday}
			, now()               -- 가입일자
			, null                -- 탈퇴일자
			, 1                   -- 회원상태(1 : 정상, 2 : 휴면, 3 : 탈퇴)
			, 'N'                 -- 메일인증여부
			, 0                   -- 관리자여부(0 : 일반, 1 : 관리자)
		)
	</insert>
	
	<!-- 회원 상세정보 조회 SELECT-->
	<!-- 아이디(email)가 일치하는 레코드 조회-->
	<select id="selectMember" resultType="member">
		SELECT *
		FROM member
		WHERE mem_email = #{mem_email}
		OR mem_tel = #{mem_tel}
		OR mem_name = #{mem_name}
	</select>
	
	<!-- 아이디 조회 -->
	<select id="selectId" resultType="member">
		SELECT *
		FROM member
		WHERE mem_email = #{mem_email}
	</select>
	
	<!-- 회원 비밀번호 찾기 -->
	<select id="selectFindPasswdFromEmail" resultType="member">
		SELECT *
		FROM member
		WHERE mem_email = #{mem_email}
	</select>
	
	<!-- 비밀번호 변경 위한 전화번호 검색 -->
	<select id="selectFindPasswdFromTel" resultType="member">
		SELECT *
		FROM member
		WHERE 
			mem_tel = #{mem_tel}
	</select>
	
	<!-- 회원 비밀번호 수정 - UPDATE -->
	<update id="updatePasswd">
		UPDATE member
		SET 
			mem_passwd = #{mem_passwd}
		WHERE
			mem_tel = #{mem_tel}

	</update>
	
	
	<!-- 이메일 인증 정보 조회 -->
	<!-- 이메일주소에 해당하는 정보 조회 -->
	<select id="selectMailAuthInfo" resultType="mailAuth">
		SELECT *
		FROM mail_auth_info
		WHERE email = #{email}
	</select>
	
	<!-- 이메일 인증 정보 등록 -->
	<insert id="insertMailAuthInfo">
		INSERT
		INTO mail_auth_info
		VALUES (
			#{email}
			,#{auth_code}
		)
	</insert>
	
	<!-- 이메일 인증 정보 수정 -->
	<update id="updateMailAuthInfo">
		UPDATE mail_auth_info
		SET
			auth_code = #{auth_code}
		WHERE
			email = #{email}
	</update>
	
	<!-- 이메일 인증 상태 수정 -->
	<update id="updateMailAuthStatus">
		UPDATE member
		SET
			mem_mail_auth_status = 'Y'
		WHERE
			mem_email = #{email}     -- authInfo 안에 email값으로 mem_email을 찾아서 업데이트
	</update>
	
	<!-- 이메일 인증 정보 삭제 -->
	<delete id="deleteMailAuthInfo">
		DELETE
		FROM mail_auth_info
		WHERE
			email = #{email}
	</delete>

	
	<!-- 마이페이지(기본정보 수정) -->
	<update id="updateMember">
		UPDATE member
		SET 
			mem_name = #{mem_name}
			,mem_passwd = #{mem_passwd}
			,mem_post_code = #{mem_post_code}
			,mem_add1 = #{mem_add1}
			,mem_add2 = #{mem_add2}
			,mem_tel = #{mem_tel}
			,mem_birthday = #{mem_birthday}
		WHERE
			mem_email = #{mem_email}
		
	</update>
	
	<!-- 세션 아이디인 이메일로 창작자 조회 -->
	<select id="selectCreator" resultType="creator">
		SELECT c.creator_idx, c.creator_email, c.creator_name, c.creator_image, c.creator_introduce, c.phone_auth_status
				, m.mem_email
		FROM member m JOIN creator_info c
		ON m.mem_email = c.creator_email
		WHERE m.mem_email = #{mem_email}
	</select>
	
	<!-- 상대방 마이페이지 이메일로 창작자 조회 -->
	<select id="selectOtherCreatorInfo" resultType="creator">
		SELECT c.creator_idx, c.creator_email, c.creator_name, c.creator_image, c.creator_introduce, c.phone_auth_status
				, m.mem_email
		FROM creator_info c JOIN member m
		ON m.mem_email = c.creator_email
		WHERE creator_email = #{creatorEmail}
	</select>
	
	<!-- 프로젝트 전체 리스트 개수 조회 -->
	<select id="selectProjectListCount" resultType="int">
		SELECT COUNT(*)
		FROM project_info
	</select>
	
	<!-- 내 마이페이지 프로젝트 리스트 -->
	<select id="selectProjectList" resultType="hashmap">
		SELECT * 
			, (SELECT IFNULL(SUM(funding_pay_amt),0) 
				FROM funding_user 
				WHERE funding_project_idx = p.project_idx) AS funding_amt
		FROM project_info p 
		JOIN creator_info c
		ON p.creator_idx = c.creator_idx
		WHERE creator_email = #{mem_email}
		limit 
			#{startRow}             -- Mapper 내의 메서드에서 @Param("startRow")
			, #{listLimit}			-- Mapper 내의 메서드에서 @Param("listLimit")
	</select>
	
	<!-- 상대방 마이페이지 프로젝트 리스트 -->
	<select id="selectOtherProjectList" resultType="hashmap">
		SELECT * 
			, (SELECT IFNULL(SUM(funding_pay_amt),0) 
				FROM funding_user 
				WHERE funding_project_idx = p.project_idx) AS funding_amt
		FROM project_info p 
		JOIN creator_info c
		ON p.creator_idx = c.creator_idx
		WHERE creator_email = #{creatorEmail}
		limit 
			#{startRow}             -- Mapper 내의 메서드에서 @Param("startRow")
			, #{listLimit}			-- Mapper 내의 메서드에서 @Param("listLimit")
	</select>
	
	<!-- 내 마이페이지에서 후원한 프로젝트 가져오기 -->
	<select id="selectDonationProjectList" resultType="hashmap">
		SELECT *
			, (SELECT IFNULL(SUM(funding_pay_amt),0)
				FROM funding_user
				WHERE funding_project_idx = p.project_idx) AS funding_amt
		FROM project_info p
		JOIN creator_info c
		ON p.creator_idx = c.creator_idx
		JOIN funding_user f
		ON f.funding_project_idx = p.project_idx
		WHERE f.funding_mem_email = #{mem_email}
		limit 
			#{startRow}             -- Mapper 내의 메서드에서 @Param("startRow")
			, #{listLimit}			-- Mapper 내의 메서드에서 @Param("listLimit")
	</select>
	
	<!-- 후원한 프로젝트 세부정보 -->
	<select id="selectDonationProjectDetail" resultType="hashmap">
		SELECT *
			, (SELECT IFNULL(SUM(funding_pay_amt),0)
				FROM funding_user
				WHERE funding_project_idx = p.project_idx) AS funding_amt
		FROM project_info p
		JOIN funding_user f
		ON f.funding_project_idx = p.project_idx
		LEFT join reward_info r
		ON r.reward_idx = f.funding_reward_idx
		WHERE f.funding_idx = #{funding_idx}
	</select>
	
	<!-- 후원프로젝트 수정-->
	<update id="updateDonationProject">
		UPDATE funding_user
		SET
			funding_status = '후원 취소'
		WHERE
			funding_idx = #{funding_idx}	
	</update>
	
	<!-- 팔로워 전체 리스트 개수 조회 -->
	<select id="selectFollowListCount" resultType="int">
		SELECT COUNT(*)
		FROM follow
		WHERE follow_creator = #{mem_email}
	</select>
	
	<!-- 좋아요 전체 리스트 개수 조회 -->
	<select id="selectLikeListCount" resultType="int">
		SELECT COUNT(*)
		FROM like_
	</select>
	
	<!-- 내 마이페이지에서 팔로워 리스트 조회 -->
	<select id="selectFollowList" resultType="hashmap">
		SELECT *,
			(SELECT mem_name
			FROM member m
			WHERE f.follow_mem_email = m.mem_email) AS mem_name,
			(SELECT creator_name
			 FROM creator_info c
			 WHERE f.follow_mem_email = c.creator_email) AS creator_name
		FROM follow f
		JOIN creator_info c
		ON f.follow_mem_email = c.creator_email
		WHERE follow_creator = #{mem_email}
		LIMIT
			#{startRow}     
			, #{listLimit}  
	</select>
	
	<!-- 내 마이페이지에서 팔로잉 리스트 조회 -->
	<select id="selectFollowingList" resultType="hashmap">
		SELECT *,
			(SELECT mem_name
			FROM member m
			WHERE f.follow_creator = m.mem_email) AS mem_name,
			(SELECT creator_name
			 FROM creator_info c
			 WHERE f.follow_creator = c.creator_email) AS creator_name
		FROM follow f
		JOIN creator_info c
		ON f.follow_creator = c.creator_email
		WHERE follow_mem_email = #{mem_email}
		LIMIT
			#{startRow}     
			, #{listLimit}  
	</select>
	
	<!-- 내 마이페이지에서 좋아요 프로젝트 리스트 조회 -->
	<select id="selectLikeProjectList" resultType="hashmap">
		SELECT *
			, (SELECT IFNULL(SUM(funding_pay_amt),0)
				FROM funding_user
				WHERE funding_project_idx = p.project_idx) AS funding_amt
		FROM project_info p
		JOIN creator_info c
		ON p.creator_idx = c.creator_idx
		JOIN like_ l
		ON l.like_project_code = p.project_code
		WHERE l.like_mem_email = #{mem_email}
		AND l.like_status = 'Y'
		LIMIT
			#{startRow}     
			, #{listLimit}  
	</select>
	
	<!-- 내 마이페이지에서 좋아요 상품 리스트 조회 -->
	<select id="selectLikeProductList" resultType="hashmap">
		SELECT *
		FROM product_info p
		JOIN like_ l
		ON l.like_product_code = p.product_code
		WHERE l.like_mem_email = #{mem_email}
		AND l.like_status = 'Y'
		LIMIT
			#{startRow}     
			, #{listLimit}  
	</select>
	
	<!--  좋아요 취소 -->
	<update id="cancleLike">
		UPDATE like_
		SET like_status = 'N'
		WHERE 
			like_project_code = #{like_project_code}
			AND like_mem_email = #{like_mem_email}
			AND like_status = 'Y'
	</update>
	
	<!--  좋아요 상품 취소 -->
	<update id="cancelProductLike">
		UPDATE like_
		SET like_status = 'N'
		WHERE 
			like_product_code = #{like_product_code}
			AND like_mem_email = #{like_mem_email}
			AND like_status = 'Y'
	</update>
	
	<!-- 내가 구입한 상품 목록 -->
	<select id="selectBuyProductList" resultType="hashmap">
		SELECT *
		FROM product_info p
		JOIN store_user s
		ON p.product_idx = s.product_idx
		WHERE s.product_mem_email = #{mem_email}
		LIMIT
			#{startRow}     -- Mapper 내의 메서드에서 @Param("startRow") 로 지정한 파라미터명 사용
			, #{listLimit}  -- Mapper 내의 메서드에서 @Param("listLimit") 로 지정한 파라미터명 사용
	</select>
	
	<!-- 내가 구입한 상품 세부정보 -->
	<select id="selectBuyProductDetail" resultType="hashmap">
		SELECT s.*, u.*, p.product_name, p.product_description, p.product_category, p.product_category_detail,
				p.product_price, p.product_img, p.product_img2
		FROM store_user s
		JOIN product_info p
		ON s.product_idx = p.product_idx
		JOIN user_address u
		ON u.address_idx = s.product_address_idx
		WHERE s.order_idx = #{order_idx}
	</select>
	
	<!-- 결제한 상품 수정(결제 취소)-->
	<update id="updateBuyProduct">
		UPDATE store_user
		SET
			store_usuer_status = '결제 취소'
		WHERE
			order_idx = #{order_idx}
	</update>
	
	<!-- 창작자가 아닌 상대방 마이페이지에서 팔로워 리스트 조회(나를 팔로우 한 사람) -->
	<select id="selectOtherNoCreatorFollowList" resultType="hashmap">
		SELECT *,
			(SELECT mem_name
		 	FROM member m
         	WHERE f.follow_mem_email = m.mem_email) AS mem_name,
         	(SELECT creator_name
			 FROM creator_info c
        	 WHERE f.follow_mem_email = c.creator_email) AS creator_name
		FROM follow f
		WHERE f.follow_creator = #{mem_email}
		LIMIT
			#{startRow}     -- Mapper 내의 메서드에서 @Param("startRow") 로 지정한 파라미터명 사용
			, #{listLimit}  -- Mapper 내의 메서드에서 @Param("listLimit") 로 지정한 파라미터명 사용
	</select>
	
	<!-- 창작자가 아닌 상대방 마이페이지에서 팔로잉 리스트 조회(내가 팔로우한 사람) -->
	<select id="selectOtherNoCreatorFollowingList" resultType="hashmap">
		SELECT *,
			(SELECT mem_name
		 	FROM member m
         	WHERE f.follow_creator = m.mem_email) AS mem_name,
         	(SELECT creator_name
			 FROM creator_info c
        	 WHERE f.follow_creator = c.creator_email) AS creator_name
		FROM follow f
		WHERE f.follow_mem_email = #{mem_email}
		LIMIT
			#{startRow}     -- Mapper 내의 메서드에서 @Param("startRow") 로 지정한 파라미터명 사용
			, #{listLimit}  -- Mapper 내의 메서드에서 @Param("listLimit") 로 지정한 파라미터명 사용
	</select>
	
	<!-- 창작자인 상대방 마이페이지에서 팔로워 리스트 조회(나를 팔로우 한 사람) -->
	<select id="selectOtherCreatorFollowList" resultType="hashmap">
		SELECT *,
			(SELECT mem_name
		 	FROM member m
         	WHERE f.follow_mem_email = m.mem_email) AS mem_name,
         	(SELECT creator_name
			 FROM creator_info c
        	 WHERE f.follow_mem_email = c.creator_email) AS creator_name
		FROM follow f
		WHERE f.follow_creator = #{creatorEmail}
		LIMIT
			#{startRow}     -- Mapper 내의 메서드에서 @Param("startRow") 로 지정한 파라미터명 사용
			, #{listLimit}  -- Mapper 내의 메서드에서 @Param("listLimit") 로 지정한 파라미터명 사용
	</select>
	
	<!-- 창작자인 상대방 마이페이지에서 팔로잉 리스트 조회(내가 팔로우한 사람) -->
	<select id="selectOtherCreatorFollowingList" resultType="hashmap">
		SELECT *,
			(SELECT mem_name
		 	FROM member m
         	WHERE f.follow_creator = m.mem_email) AS mem_name,
         	(SELECT creator_name
			 FROM creator_info c
        	 WHERE f.follow_creator = c.creator_email) AS creator_name
		FROM follow f
		WHERE f.follow_mem_email = #{creatorEmail}
		LIMIT
			#{startRow}     -- Mapper 내의 메서드에서 @Param("startRow") 로 지정한 파라미터명 사용
			, #{listLimit}  -- Mapper 내의 메서드에서 @Param("listLimit") 로 지정한 파라미터명 사용
	</select>
	
	<!-- 창작작가 아닌 상대방 마이페이지에서 후원한 프로젝트 가져오기 -->
	<select id="selectOtherNoCreatorDonationProjectList" resultType="hashmap">
		SELECT *
		FROM funding_user f JOIN project_info p
		ON f.funding_project_idx = p.project_idx
		WHERE f.funding_mem_email = #{mem_email}
		limit 
			#{startRow}             -- Mapper 내의 메서드에서 @Param("startRow")
			, #{listLimit}			-- Mapper 내의 메서드에서 @Param("listLimit")
	</select>
	
	<!-- 창작작인 상대방 마이페이지에서 후원한 프로젝트 가져오기 -->
	<select id="selectOtherCreatorDonationProjectList" resultType="hashmap">
		SELECT *
			, (SELECT IFNULL(SUM(funding_pay_amt),0)
				FROM funding_user
				WHERE funding_project_idx = p.project_idx) AS funding_amt
		FROM project_info p
		JOIN creator_info c
		ON p.creator_idx = c.creator_idx
		JOIN funding_user f
		ON f.funding_project_idx = p.project_idx
		WHERE f.funding_mem_email = #{creatorEmail}
		limit 
			#{startRow}             -- Mapper 내의 메서드에서 @Param("startRow")
			, #{listLimit}			-- Mapper 내의 메서드에서 @Param("listLimit")
	</select>

	
	<!-- 창작자에 등록되어있는지(상대방 마이페이지) -->
	<select id="selectCreatorName" resultType="String">
	    SELECT creator_name
	    FROM creator_info
	    WHERE creator_email = #{creatorEmail}
	</select>
	
	<!-- 상대방 마이페이지(창작자가 아닌 경우) -->
	<select id="selectMemberInfo" resultType="member">
	    SELECT *
	    FROM member
	    WHERE mem_email = #{mem_email}
	</select>
	
	<!-- 상대방 마이페이지(창작자인 경우) -->
<!-- 	<select id="selectOtherCreatorInfo" resultType="creator"> -->
<!-- 	    SELECT creator_idx, creator_email, creator_name, creator_image, creator_introduce, phone_auth_status -->
<!-- 	    FROM creator_info -->
<!-- 	    WHERE creator_email = #{mem_email} -->
<!-- 	</select> -->
	
	
	<!-- =========================================================== -->
	<!-- 회원 아이디 조회(채팅) -->
	<select id="selectMemberId" resultType="String">
		SELECT mem_email
		FROM member
		WHERE mem_email = #{receiver_id}
	</select>
	
	<!-- ==================================================== -->
	<!-- 회원가입 시 배송지 등록 -->
	<insert id="insertTransAddress">
		INSERT INTO user_address 
		VALUES (
			null
			, #{address_mem_email}
			, #{address_receiver_name}
			, #{address_post_code}
			, #{address_main}
			, #{address_sub}
			, #{address_receiver_tel}
			,'Y'
			, default		
		)
	</insert>
	
</mapper>










