<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.with_me.mapper.SmsMapper">
<!-- 기존 인증정보 존재 여부 확인 - SELECT -->
<select id="selectSmsAuthInfo" resultType="smsAuth">
	SELECT *
	FROM sms_auth_info
	WHERE creator_email = #{creator_email}
	AND  phone_number =  #{phone_number}
</select>

<!-- 새 인증번호 등록 - INSERT -->
<insert id="insertSmsAuthInfo">
    INSERT INTO sms_auth_info (creator_email, phone_number, auth_code)
    VALUES (
    	#{creator_email}
    	, #{phone_number}
    	, #{auth_code}
    )
</insert>

<!-- 기존 인증정보 갱신 - UPDATE -->
<update id="updateSmsAuthInfo">
    UPDATE sms_auth_info
    SET auth_code = #{auth_code}
	WHERE creator_email = #{creator_email}
</update>

<!-- 휴대번호 인증상태 변경 - UPDATE -->
<update id="updatePhoneAuth">
	UPDATE creator_info
	SET phone_auth_status = 'Y'
	WHERE creator_email = #{id}
</update>





<!-- 기존 인증정보 존재 여부 확인 - SELECT -->
<select id="selectPwSmsAuthInfo" resultType="pwSmsAuth">
	SELECT *
	FROM pw_sms_auth_info
	WHERE mem_email = #{mem_email}
</select>

<!-- 새 인증번호 등록 - INSERT -->
<insert id="insertPwSmsAuthInfo">
    INSERT INTO pw_sms_auth_info (mem_email, phone_number, auth_code)
    VALUES (
    	#{mem_email}
    	, #{phone_number}
    	, #{auth_code}
    )
</insert>

<!-- 기존 인증정보 갱신 - UPDATE -->
<update id="updatePwSmsAuthInfo">
    UPDATE pw_sms_auth_info
    SET auth_code = #{auth_code},
        phone_number = #{phone_number}
	WHERE mem_email = #{mem_email}
</update>








</mapper>
