@charset "UTF-8";

/* .inner 크기 - 수정 */
.inner {
	max-width: 1440px;
}

.inner .wrapper {
	display: flex;
	height: auto;
}

.inner .wrapper .side_nav{
	width: 14rem;
	padding: 1rem;
	background-color: #2d4781;
}

.inner .wrapper article {
	width: 100%;
}

/* 관리자페이지 홈 버튼*/
.inner .wrapper .side_nav ul li #GoHome {
	color: #fff;
	font-weight: bold;
}

/* 메뉴 기본 설정 */
.inner .wrapper .side_nav ul li {
	padding: 0.8rem;
}

/* depth01 */
.inner .wrapper .side_nav .depth01{
	border-bottom: 1px solid #ccc;
	position: relative;
}

.inner .wrapper .side_nav .depth01 a{
	display: block;
	width: 100%;
	color: #fff;
}

/* depth02 */
.inner .wrapper .side_nav .depth01 .adminDepth02{
/* 	position: absolute; */
/* 	opacity: 0; */
/* 	transition: 0.3s; */
/* 	pointer-events: none; */
	display: none;
	margin-top: 0.8rem;
}

.inner .wrapper .side_nav .depth01 .adminDepth02.show {
/* 	opacity: 1; */
/* 	pointer-events: auto; */
	display: block;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 5px;
}

table th {
	background-color: #fffbe7;
	padding: 5px;
    word-break: keep-all;
}

table td {
	padding: 7px 5px;
    word-break: keep-all;
}	
	
input[type=button], input[type=submit] {
	padding: 3px 5px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	border: 0.5px solid #eee;
}

input:hover {
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

#yAdmin {
	background-color: #ffab40;
}