@charset "UTF-8";
section {
	margin: 60px auto;
	width: 60%;
	min-height: auto;
}

.inner h2 {
	margin-top: 40px;
	text-align: center;
	font-size: 32px;
}

h4 {
	font-size: 24px;
	margin-bottom: 20px;
}
	
.infoWrapper {
	border: 1px solid #777;
	border-radius: 10px;
	padding: 20px;
}

/*  con01  */

.inner .con01 .userInfo {
	margin: 60px 0;
}


.inner .con01 .userInfo .infoWrapper > div {
	display: flex;
	align-items:center;
	font-size: 18px;
	margin-bottom: 20px;
}

.inner .con01 .userInfo .infoWrapper div > div:first-child {
	margin-right: 40px;
	font-weight: bold;
}

.inner .con01 .userInfo .infoWrapper span {
	display: block;
	margin-bottom: 5px;
	font-size: 13px;
	color: #555;
}

/*  con02  */

#addWarn {
	font-weight: normal;
	font-size: 12px;
	color: #777;
}

.inner .con02 .addressInfo .AddAddressBtn {
    position: relative;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: #eee;
    border-radius: 10px;
    align-content: center;
    cursor: pointer;
}

.inner .con02 .addressInfo .AddAddressBtn img {
	position: absolute;
	top: 20%;
	left: 42%;
}

.inner .con02 .addressInfo .infoWrapper .addressWrapper {
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-top: 15px;
    padding-bottom: 15px;
}

.inner .con02 .addressInfo .infoWrapper .addressWrapper .left {
	width: 60%;
}

/* 기본 배송지 표시 */
.default_simbol {
	padding: 0px 5px;
	margin-left: 10px;
	background-color: #ffab40;
	font-size: 13px;
	color: #fff;
	border-radius: 3px;
}

.inner .con02 .addressInfo .infoWrapper .addressWrapper .left div {
	margin-bottom: 8px;
}

.inner .con02 .addressInfo .infoWrapper .addressWrapper .left div:last-child {
	margin: 0;
}

.inner .con02 .addressInfo .infoWrapper .addressWrapper .changeAddressBtn {
	cursor: pointer;
	padding: 5px;
	background-color: #eee;
	border-radius: 5px;
}

/*  con03  */

.inner .con03 .moreFundAmt .infoWrapper > div {
	display: flex;
	align-items:center;
	font-size: 18px;
}

.inner .con03 .moreFundAmt .infoWrapper div > div:first-child {
	margin-right: 40px;
	font-weight: bold;
}

.inner .con03 .moreFundAmt .infoWrapper .moreFundAmt {
	border: 1px solid #ccc;
    height: 30px;
    margin-right: 10px;
}

/*  con04  */

.inner .con04 .rewardInfo .infoWrapper div {
	margin-bottom: 10px;
}

.inner .con04 .rewardInfo .infoWrapper .title {
	font-size: 18px;
	font-weight: bold;
	color: #ffab40;
	margin-bottom: 20px;
}


.inner .con04 .rewardInfo .infoWrapper div .option_name {
	
}

.inner .con04 .rewardInfo .infoWrapper div .multiple_option {
	color: #555;
	font-size: 13px;
}

.inner .con04 .rewardInfo .infoWrapper #amtWrapper {
	display: flex;
	align-items: center;
	margin-top: 30px;
    margin-bottom: 30px;
}

.inner .con04 .rewardInfo .infoWrapper #amtWrapper div {
	margin: 0;
}

.inner .con04 .rewardInfo .infoWrapper #amtWrapper div:first-child {
	margin-right: 30px;
	font-weight: bold;
	font-size: 18px;
}

#moreAmtInfo {
	font-size: 13px;
    color: #555;
    margin: 20px 0;
}

#totalAmt {
	border: none;
    padding-top: 15px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid #99999950;
}

/*  con05  */

.inner .con05 .payInfo h3 {
	margin-bottom: 15px;
	color: #ffab40;
	font-size: 20px;
}

.inner .con05 .payInfo .infoWrapper{
	padding-top: 50px;
}

.inner .con05 .payInfo .warnInfo {
	margin-bottom: 11px;
}

/* 동의체크박스 */
.inner .con05 .payInfo .agreementInfo{
	margin-bottom: 15px;
	padding-left: 40px; /* 체크박스의 왼쪽 여백 */
	position: relative;
	padding-top: 11px;
}

.inner .con05 .payInfo .agreementInfo input[type="checkbox"] {
	opacity: 0; /* 기본 체크박스 숨기기 */
	position: absolute;
	caret-color: transparent;	/* 커서 깜빡임 없애기 */
}

.inner .con05 .payInfo .agreementInfo label span {
	font-size: 13px;
}

.inner .con05 .payInfo .agreementInfo input[type="checkbox"] + label::before {
	content: '';
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	background-color: #fff;
	margin-left: 10px;
	vertical-align: middle;
	border-radius: 4px;
	position: absolute; /* 체크박스 위치 조정 */
	left: 0; /* 체크박스의 왼쪽 위치 조정 */
	top: 8px;
	transform: translateY(0); /* 수직 중앙 정렬 */	
}

.inner .con05 .payInfo .agreementInfo input[type="checkbox"]:checked + label::before {
	background-color: #FFAB40;
	border-color: #FFAB40;	
}

.inner .con05 .payInfo .agreementInfo input[type="checkbox"]:checked + label::after {
	content: '✓';
	position: absolute;
	top: 17px;
	left: 3%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.inner .con05 .payInfo .agreementInfo > div {
	padding: 15px 0;
}

.inner .con05 .payInfo .agreementInfo > div h5 {
	margin-bottom: 10px;
}

.inner .con05 .payInfo .agreementInfo > div p {
	font-size: 13px;
	color: #555;
}

/* con06 */
.inner .con06 .pay {
	margin-bottom: 20px;	
}

.inner .con06 .pay .infoWrapper {
	display: flex;
	justify-content: space-around;
}

.inner .con06 .pay .payMethod {
	display: none;
}

.inner .con06 .pay .payMethod #addAccountBtn {
	padding: 0 20px;
    margin-left: 10px;
    height: 100%;
    border: 0.5px solid #797979;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
}

.inner .con06 .pay .payMethod #addAccountBtn:hover {
    background-color: #ffab40;
    color: #fff;
}

.inner .con06 .pay .payMethod.on {
	display: block;
}

.inner .con06 .pay .payWrap {
	display: flex;
	align-items: center;
	margin-bottom : 20px; 
}

.inner .con06 .pay .payWrap h4{
	margin: 0;
	margin-right: 15px;
}
/* con07_pay */
#user_funding_complete{
	width: 100%;
	padding: 15px 0;
	margin-top: 20px;
	border: none;
	border-radius: 10px;
	background-color: #ffab40;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

/* 모달 팝업 */
.modal_btn {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.modal_btn:hover {
    box-shadow: 3px 4px 11px 0px #00000040;
}

/*모달 팝업 영역 스타일링*/
.modal {
/*팝업 배경*/
	display: none; /*평소에는 보이지 않도록*/
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 140vh;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}
.modal .modal_popup {
/*팝업*/
    position: absolute;
    width: 30%;
    height: 55%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    z-index: 999;
    overflow-y:scroll;
}

.modal .modal_popup h3 {
	margin-bottom: 15px;	
}

.modal .modal_popup .content {
	width: 100%;
}

/* 배송지 추가 */
.modal .modal_popup .content.add div {
	margin-bottom: 20px;
}

.modal .modal_popup .content.add .addressForm label {
	display: flex;
	align-items: center;
}

.modal .modal_popup .content.add input {
	width: 100%;
	height: 30px;
	margin-top: 7px;
}

/* 우편번호 */
#address_post_code {
	width: 60%;
}

/* 주소검색 */
#address_search_btn {
	width: 60px;
	height: 30px;
}

/* 기본배송지 체크박스 */
#address_is_default {
	width: 20px;
	height: 20px;
	margin-top: 0px;
	margin-right: 15px;
}

/* 배송지 등록 버튼 */
#addRegBtn {
	border: none;
	border-radius: 5px;
	background-color: #ffab40;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 5px;
	margin-top: 30px;
}

/* 배송지 변경 */
.modal .modal_popup .content.change .infoWrapper {
	position: relative;
	margin-bottom: 10px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .modal_popup .content.change .infoWrapper .addressWrapper {
	width: 90%;
}

.modal .modal_popup .content.change .infoWrapper .cancleDefault, .registDefault, .deleteAddress{
	padding: 5px;
	background-color: #eee;
	font-size: 13px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	margin-bottom: 5px;
}


.modal .modal_popup .content.change .infoWrapper label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.modal .modal_popup .content.change .infoWrapper label input {
	margin-right: 30px;
}

#changeBtn {
	width: 100%;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	background-color: #ffab40;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 5px;
}

.modal.on {
    display: block;
    
}
.modal .modal_popup .close_btn {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	cursor: pointer;
}

/* Mobile Responsive CSS */
@media screen and (max-width: 768px) {
	
	.inner h2 {
		font-size: 18px;
	}
	
	section {
	    margin: 60px auto;
	    width: 85%;
	}
	
	h4 {
		font-size: 16px;
	}
	
	.modal .modal_popup {
		width: 75%;
	}
	
	.inner .con01 .userInfo .infoWrapper > div {
	    font-size: 15px;
	}
	
	.inner .con01 .userInfo .infoWrapper span {
	    font-size: 11px;
	}
	
	.inner .con04 .rewardInfo .infoWrapper .title {
	    font-size: 16px;
	}
	
	#totalAmt {
	    font-size: 20px;
	}
	
	.inner .con03 .moreFundAmt .infoWrapper > div {
	    font-size: 15px;
	}
	
	.inner .con03 .moreFundAmt .infoWrapper div > div:first-child {
		margin-right: 10px;
	}
	
	.inner .con02 .addressInfo .AddAddressBtn img {
	    left: 30%;
	}
	.modal .modal_popup .content.change .infoWrapper .addressWrapper {
		font-size: 13px;		
	}
	
	.inner .con02 .addressInfo .infoWrapper .addressWrapper .left {
	    width: 75%;
	    font-size: 13px;
	}
	
	.inner .con02 .addressInfo .infoWrapper .addressWrapper .changeAddressBtn {
		padding: 7px;
	    font-size: 13px;
	}
	
	.modal .modal_popup .content.change .infoWrapper label input {
	    margin-right: 15px;
	}
	.modal .modal_popup .content.change .infoWrapper .cancleDefault, .registDefault, .deleteAddress {
	    font-size: 12px;
	}
	
	.inner .con05 .payInfo .infoWrapper {
	    padding-top: 30px;
	}
	
	.inner .con05 .payInfo .warnInfo {
	    font-size: 13px;
	}
	
	.inner .con05 .payInfo .agreementInfo {
   		font-size: 13px;
	    padding-left: 30px;
	}
	
	.inner .con05 .payInfo .agreementInfo input[type="checkbox"] + label::before {
	    width: 15px;
	    height: 15px;
	    margin: 0;
	}
	
	.inner .con06 .pay .payWrap {
		display: block;
	}
	
	.inner .con06 .pay .payWrap .payMethod {
		font-size: 13px;
		margin-top: 10px;
	}
	
	.inner .con06 .pay .infoWrapper>div {
		font-size: 13px;
	}
	
	#user_funding_complete {
	    padding: 10px 0;
	    font-size: 16px;
	}
}

